<h1>Пакеты</h1>

<form class="ui form" id="search-form" method="GET" action="/packages/search">
    <div class="fields">
        <div class="field" style="width: 100%">
            <input type="text" name="text"
                placeholder="Название, текст описания, ключевые слова...">
        </div>
        <button class="ui submit button" type="submit">Искать</button>
    </div>
</form>

<table class="ui compact celled table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Актуальная версия</th>
            <th>Адрес репозитория</th>
        </tr>
    </thead>
    <tbody>
{% Если Модель <> Неопределено Тогда %}
{% Для Каждого Пакет Из Модель Цикл %}
        <tr>
            <td><a href="/package/{{ Пакет.Название }}">{{ Пакет.Название }}</a></td>
            <td>{{ Пакет.АктуальнаяВерсия }}</td>
            <td><a href="{{ Пакет.АдресРепозитория }}">{{ Пакет.АдресРепозитория }}</a></td>
        </tr>
{% КонецЦикла; %}
{% КонецЕсли; %}
    </tbody>
</table>

<div style="margin-top: 3em;">&nbsp;</div>
